doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.scss")
    title Pixies Poster
  body
    div.poster
        div.top
            div.top__box
                span saturday
                span december 13 1986
                span 9 pm over 21
            div.top__box
                span at the rest
                span 528 commonwealth
                span boston, mass.
            div.top__box
                h1 pixies
            div.top__box
                span with
                span throwing muses
                span big dipper
        div.bottom
            div.circles
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
                div.circle
