@import "reset.scss";

$white: #DEE1D6;
$green: #5ABC44;

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  background-color: $green;
  width: 45%;
  height:100%;
  display: grid;
  grid-template-rows: 30fr 70fr;
  .top {
    display: grid;
    padding: 25px;
    row-gap: 35px;
    grid-template-columns: 70fr 30fr;
    .top__box {
      display: flex;
      gap:5px;
      flex-direction: column;
      font-weight: bold;
      font-size: 12px;
      h1 {
        font-size: 125px;
      }
      &:last-child {
        display: flex;
        font-size: 20px;
        justify-content: center;
        color: rgba(255,255,255, .7);
      }
    }
  }
  .bottom {
    overflow: hidden;
    .circles {
      transform: scale(1.1);
      background-color: black;
      display: grid;
      height: 100%;
      gap: 7px;
      grid-template: repeat(11, 1fr) / repeat(11, 1fr);
      .circle {
        background-color: $green;
        border-radius: 50%;
        @for $i from 1 through 9 {
          @for $j from (11*$i)+2 through (11*$i)+1+$i {
            &:nth-child(#{$j}) {
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
